<h2>Create a Character</h2>
<form method="post" action="/characters/create-character">
    <label for="name">Name: <input type="text" name="name" id="name" /></label>
    
    <label for="occupation">Occupation: <input type="text" name="occupation" id="occupation" /></label>

    <label for="weapon">Weapon: <input type="text" name="weapon" id="weapon" /></label>

    <label for="debt">Debt: <input type="checkbox" name="debt" id="debt" /></label>

    <button type="submit" >Create Character</button>
</form>